body{
    background-image: url("../Image/main_bg.jpg");
}

.row-border {
    border-top: #5a6268 2px solid;
    border-bottom: #5a6268 2px solid;
}

.f-size-title, .f-size-total{
    font-size: 20px;
}

.f-size-name{
    font-size: 18px;
}

.f-size-total{
    font-weight: bold;
}

.f-size-character{
    font-family: Roboto;
    font-size: 16px;
}