body {
  background: #333;
  color: #fff;
  background: url("../Image/bg-image.jpg") no-repeat;
  background-size: 100%;
}

.navbar {
  border-bottom: #008ed6 3px solid;
  opacity: 0.8;
}

.dark-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#home-section .home-inner {
    padding-top: 250px;
}

#home-section .card-form {
    opacity: 0.8;
}

.bor{
    border-top: #090909 3px solid;
}
